{% extends "layout.html" %}

{% block body %}
<h1 align="center">About</h1>
		<div class="container">
		    <div class="content-wrap text-center">
				<div class="jumbotron">
				    <p>Top Headlines specializes in fetching news headlines from various news websites over the Internet. It is a website where the users can enter a link to a news website to fetch that website’s headlines. The fetched headlines are then displayed to the user from where he/she can select a headline. The user is then directed to the webpage of that headline.<br><br>Created By: Abhay Agarwal and Devansh Bhanot</p>
{% endblock body%}
