{% extends "layout.html" %}

{% block body%}

<h1 align="center">TOP Headlines</h1>
	<div class="container">
		<div class="content-wrap text-center">
			<div class="jumbotron">
				<p>Enter Link Here</p>
				<form method="POST" action="/search">
					<input id="tags" type="text" name="search" placeholder="https://example.com"autofocus="on" list="defaultURLs">
				   	<datalist id="defaultURLs">
				   		<option value="https://timesofindia.indiatimes.com/" label="TimesOfIndia">
				   		<option value="https://www.indiatoday.in/" label="IndiaToday">
			    	</datalist>
				    <button id="getResult" class="btn btn-default"><i class="fa fa-search"></i></button>				    
				</form>
				<h3 style="color: white;">{{msg}}</h3>
			</div>
			 	<div class="wrap text-center">
					<ul>
				    </ul>
			    </div>
		</div>
	</div>
	{% block content %}
	{% endblock content %}
{% endblock body %}